.main-container {
    width: 100vw;
    height: 100vh;

    display: flex;    
    background-color: #111825;
}

.sidebar {
    width: 80px;
    height: 100vh;
    background-color: #1F2A37;
}

.reset-password-content{
    width: calc(100% - 80px);
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    font-size: 20px;
}