@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.usermanage-header-cont {   
    width: 96%;
    padding: 0 2%;
    height: 100%;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    color: white;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.usermanage-header-cont .header-left-section{
    width: 30%;    
}

 .nav-history {
    padding: 4% 0;
    font-size: 12px;
    font-weight: 400;
    color: #768E94;    
}

.left-section .title{
   font-size: 24px; 
} 

.usermanage-header-cont .header-right-section{
    width: 40%;
    height: 100%;

    display: flex;
    align-items: center;   
}